div(class="banner")
  div(class="container")
    div(class="banner__wrapper")
      div(class="banner__row")
        div(class="banner__col")
          div(class="banner__title") The Home of Minimalist Buying and Selling
          div(class="banner__subtitle") This NFT website is a website that features buying and selling, news and blogs. Designed with a minimalist and informative concept
          div(class="banner__buttons")
            div(class="banner__explore custom-btn") Explore
            div(class="banner__create transparent-btn") Create
        div(class="banner__col")
          div(class="col-wrap")
            div(class="wrap")
              div(class="wrap__heading") Current price
              div(class="wrap__price")
                img(src="/images/ethereum.svg")
                span 1.98
                span ($5,822.47)
              div(class="wrap__person")
                img(src="/images/jade.png")
                span Wade Warren