footer(class="footer")
  div(class="footer__wrapper container")
    div(class="footer__col")
      div(class="footer__col-logo")
        div(class="logo-circle")
        div(class="logo-text") NFT.Ring
      div(class="footer__col-text") The world’s first and largest digital marketplace for crypto collectibles and non-fungible tokens (NFTs). Buy, sell, and discover exclusive digital assets.
    div(class="footer__col")
      div(class="footer__col-title") Marketplace
      div(class="footer__col-links")
        a(href="#") All NFTs
        a(href="#") New
        a(href="#") Art
        a(href="#") Music
        a(href="#") Domain Names
        a(href="#") Virtual Worlds