header(class="header")
  div(class="header__wrapper container")
    div(class="header__row")
      div(class="header__col")
        div(class="header__col-logo")
          div(class="logo-circle")
          div(class="logo-text") NFT.Ring
        div(class="header__col-links")
          a(href="#") Market
          a(href="#") Activity
          a(href="#") Feature
          a(href="#") Community
      div(class="header__col")
        div(class="header__col-btn custom-btn") Login