{{page-title ""}}
<Header />
<div class="container">
  <div class="quess-count">Всего слов в базе: 3</div>
  <p>Кто изображен на фотографии?</p>
  <input class="quess-text" type="text">
  <button type="submit" {{action "handleClick"}}>Проверить</button>
  <img class="quess-image" src="https://w.forfun.com/fetch/0e/0e26b1b65946ee36fac9605ae67e4ac8.jpeg" alt="собака">
</div>
<Footer /> {{outlet}}